<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="JS/script.js"></script>
</head>
<body data-ng-app="myApp">
  <div data-ng-controller="employeeController">

  <button data-ng-click="predicate=''">Set to unsorted</button>
  <table border="1px">
    <tr>
     <th>
         <button data-ng-click="order('EMPNO')">Emp Number</button>
     </th>
     <th>
         <button data-ng-click="order('ENAME')">Emp Name</button>
     </th>
     <th>
         <button data-ng-click="order('JOB')">Employee Job</button>
     </th>
     <th>
         <button data-ng-click="order('DEPTNO')">Department</button>
     </th>
    </tr>
    <tr data-ng-repeat="employee in employees | orderBy:predicate:reverse">
      <td>{{employee.EMPNO}}</td>
      <td>{{employee.ENAME}}</td>
      <td>{{employee.JOB}}</td>
      <td>{{employee.DEPTNO}}</td>
    </tr>
  </table>
  
</div>
</body>
</html>