<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Example - example-example47-production</title>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script>
 var copyExample=angular.module('copyExample', [])
   .controller('ExampleController', ['$scope', function($scope) {
     $scope.master= {};

     $scope.update = function(user) {
       // Example with 1 argument
       $scope.master= angular.copy(user);
     };

     $scope.reset = function() {
       // Example with 2 arguments
       angular.copy($scope.master, $scope.user);
     };

     $scope.reset();
   }]);
</script>
</head>
<body data-ng-app="copyExample">

<div data-ng-controller="ExampleController">
	<form novalidate >
	<pre>
			Name: 	<input type="text" data-ng-model="user.name" /><br />
			E-mail: <input type="email" data-ng-model="user.email" /><br />
			Gender: <input type="radio" data-ng-model="user.gender" value="male" />male  <input type="radio" data-ng-model="user.gender" value="female" />female
					<br /> 
			<button data-ng-click="reset()">RESET</button>	<button data-ng-click="update(user)">SAVE</button>				
	</pre>
	</form>
	<pre>	form = {{user | json}}		</pre>	
	<pre>	master = {{master | json}}	</pre>
	
</div>


</body>
</html>